{
  "openapi": "3.1.0",
  "info": {
    "title": "Chive API",
    "description": "AT Protocol AppView for scholarly eprints",
    "version": "0.1.0",
    "contact": { "name": "Chive", "url": "https://chive.pub", "email": "contact@chive.pub" },
    "license": { "name": "MIT", "url": "https://opensource.org/licenses/MIT" }
  },
  "servers": [
    { "url": "https://api.chive.pub", "description": "Production" },
    { "url": "http://localhost:3000", "description": "Development" }
  ],
  "tags": [
    { "name": "eprint", "description": "Eprint operations" },
    { "name": "graph", "description": "Knowledge graph operations" },
    { "name": "metrics", "description": "Metrics and trending" },
    { "name": "eprints", "description": "REST eprint endpoints" },
    { "name": "health", "description": "Health check endpoints" }
  ],
  "paths": {
    "/xrpc/pub.chive.activity.log": {
      "post": {
        "operationId": "pub_chive_activity_log",
        "summary": "Log a user-initiated write action before PDS write",
        "tags": ["activity"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection": {
                    "description": "NSID of the record collection",
                    "type": "string"
                  },
                  "rkey": { "description": "Record key (TID)", "type": "string" },
                  "action": {
                    "description": "Action type",
                    "type": "string",
                    "enum": ["create", "update", "delete"]
                  },
                  "category": {
                    "description": "Semantic category",
                    "type": "string",
                    "enum": [
                      "eprint_submit",
                      "eprint_update",
                      "eprint_delete",
                      "review_create",
                      "review_update",
                      "review_delete",
                      "endorsement_create",
                      "endorsement_delete",
                      "tag_create",
                      "tag_delete",
                      "profile_update",
                      "proposal_create",
                      "vote_create"
                    ]
                  },
                  "targetUri": { "description": "Target record URI", "type": "string" },
                  "targetTitle": {
                    "description": "Target record title",
                    "type": "string",
                    "maxLength": 500
                  },
                  "traceId": {
                    "description": "OpenTelemetry trace ID",
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 32
                  },
                  "spanId": {
                    "description": "OpenTelemetry span ID",
                    "type": "string",
                    "minLength": 16,
                    "maxLength": 16
                  },
                  "uiContext": {
                    "description": "UI context metadata",
                    "type": "object",
                    "propertyNames": { "type": "string" },
                    "additionalProperties": {}
                  },
                  "recordSnapshot": {
                    "description": "Record data snapshot",
                    "type": "object",
                    "propertyNames": { "type": "string" },
                    "additionalProperties": {}
                  }
                },
                "required": ["collection", "rkey", "action", "category"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activityId": {
                      "description": "Created activity ID",
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    }
                  },
                  "required": ["activityId"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.markFailed": {
      "post": {
        "operationId": "pub_chive_activity_markFailed",
        "summary": "Mark a pending activity as failed when PDS write fails",
        "tags": ["activity"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection": {
                    "description": "NSID of the record collection",
                    "type": "string"
                  },
                  "rkey": { "description": "Record key (TID)", "type": "string" },
                  "errorCode": { "description": "Error code", "type": "string", "maxLength": 50 },
                  "errorMessage": {
                    "description": "Error message",
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": ["collection", "rkey", "errorCode", "errorMessage"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getFeed": {
      "get": {
        "operationId": "pub_chive_activity_getFeed",
        "summary": "Get the authenticated user's activity feed",
        "tags": ["activity"],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter by category",
              "type": "string",
              "enum": [
                "eprint_submit",
                "eprint_update",
                "eprint_delete",
                "review_create",
                "review_update",
                "review_delete",
                "endorsement_create",
                "endorsement_delete",
                "tag_create",
                "tag_delete",
                "profile_update",
                "proposal_create",
                "vote_create"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter by status",
              "type": "string",
              "enum": ["pending", "confirmed", "failed", "timeout"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Maximum results",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "description": "Pagination cursor", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique activity identifier",
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "actorDid": {
                            "description": "DID of user who initiated the action",
                            "type": "string"
                          },
                          "collection": {
                            "description": "NSID of the record collection",
                            "type": "string"
                          },
                          "rkey": { "description": "Record key", "type": "string" },
                          "action": {
                            "description": "Action type",
                            "type": "string",
                            "enum": ["create", "update", "delete"]
                          },
                          "category": {
                            "description": "Semantic category",
                            "type": "string",
                            "enum": [
                              "eprint_submit",
                              "eprint_update",
                              "eprint_delete",
                              "review_create",
                              "review_update",
                              "review_delete",
                              "endorsement_create",
                              "endorsement_delete",
                              "tag_create",
                              "tag_delete",
                              "profile_update",
                              "proposal_create",
                              "vote_create"
                            ]
                          },
                          "status": {
                            "description": "Activity status",
                            "type": "string",
                            "enum": ["pending", "confirmed", "failed", "timeout"]
                          },
                          "initiatedAt": {
                            "description": "When user initiated the action",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "confirmedAt": {
                            "description": "When firehose confirmed",
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              { "type": "null" }
                            ]
                          },
                          "firehoseUri": {
                            "description": "AT URI from firehose",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "firehoseCid": {
                            "description": "CID from firehose",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "targetUri": {
                            "description": "Target record URI",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "targetTitle": {
                            "description": "Target record title",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "latencyMs": {
                            "description": "Latency from UI to firehose (ms)",
                            "anyOf": [{ "type": "number" }, { "type": "null" }]
                          },
                          "errorCode": {
                            "description": "Error code if failed",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "errorMessage": {
                            "description": "Error message if failed",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          }
                        },
                        "required": [
                          "id",
                          "actorDid",
                          "collection",
                          "rkey",
                          "action",
                          "category",
                          "status",
                          "initiatedAt",
                          "confirmedAt",
                          "firehoseUri",
                          "firehoseCid",
                          "targetUri",
                          "targetTitle",
                          "latencyMs",
                          "errorCode",
                          "errorMessage"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursor": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
                    "hasMore": { "type": "boolean" }
                  },
                  "required": ["activities", "cursor", "hasMore"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getCorrelationMetrics": {
      "get": {
        "operationId": "pub_chive_activity_getCorrelationMetrics",
        "summary": "Get activity correlation metrics (admin only)",
        "tags": ["activity"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hour": {
                            "description": "Hour bucket",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "category": {
                            "description": "Activity category",
                            "type": "string",
                            "enum": [
                              "eprint_submit",
                              "eprint_update",
                              "eprint_delete",
                              "review_create",
                              "review_update",
                              "review_delete",
                              "endorsement_create",
                              "endorsement_delete",
                              "tag_create",
                              "tag_delete",
                              "profile_update",
                              "proposal_create",
                              "vote_create"
                            ]
                          },
                          "total": {
                            "description": "Total activities",
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "confirmed": {
                            "description": "Confirmed activities",
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "failed": {
                            "description": "Failed activities",
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "timeout": {
                            "description": "Timed out activities",
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "pending": {
                            "description": "Pending activities",
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "confirmationRatePct": {
                            "description": "Confirmation rate percentage",
                            "type": "number"
                          },
                          "avgLatencyMs": {
                            "description": "Average latency (ms)",
                            "anyOf": [{ "type": "number" }, { "type": "null" }]
                          },
                          "p95LatencyMs": {
                            "description": "P95 latency (ms)",
                            "anyOf": [{ "type": "number" }, { "type": "null" }]
                          }
                        },
                        "required": [
                          "hour",
                          "category",
                          "total",
                          "confirmed",
                          "failed",
                          "timeout",
                          "pending",
                          "confirmationRatePct",
                          "avgLatencyMs",
                          "p95LatencyMs"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pendingCount": {
                      "description": "Current pending activity count",
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": ["metrics", "pendingCount"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteAffiliation": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteAffiliation",
        "summary": "Search for institutional affiliations via ROR",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search query for affiliation name",
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max results (default 8)",
              "type": "integer",
              "minimum": 1,
              "maximum": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rorId": {
                            "description": "ROR ID (e.g., https://ror.org/02mhbdp94)",
                            "type": "string"
                          },
                          "name": { "description": "Organization name", "type": "string" },
                          "country": { "description": "Country name", "type": "string" },
                          "types": {
                            "description": "Organization types (Education, Healthcare, etc.)",
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "acronym": {
                            "description": "Acronym if available",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          }
                        },
                        "required": ["rorId", "name", "country", "types", "acronym"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["suggestions"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteKeyword": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteKeyword",
        "summary": "Search for research keywords via FAST and Wikidata",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search query for keyword",
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max results (default 8)",
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sources to search (default both)",
              "type": "array",
              "items": { "type": "string", "enum": ["fast", "wikidata"] }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Authority ID (FAST idroot or Wikidata QID)",
                            "type": "string"
                          },
                          "label": { "description": "Keyword label", "type": "string" },
                          "source": {
                            "description": "Source of the keyword",
                            "type": "string",
                            "enum": ["fast", "wikidata", "freetext"]
                          },
                          "description": {
                            "description": "Description (Wikidata only)",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "usageCount": {
                            "description": "Usage count (FAST only)",
                            "anyOf": [{ "type": "number" }, { "type": "null" }]
                          }
                        },
                        "required": ["id", "label", "source", "description", "usageCount"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["suggestions"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOpenReview": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOpenReview",
        "summary": "Search for OpenReview profiles by author name",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search query for author name",
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max results (default 10)",
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "OpenReview profile ID (e.g., ~John_Smith1)",
                            "type": "string"
                          },
                          "displayName": { "description": "Display name", "type": "string" },
                          "institution": {
                            "description": "Current institution",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          }
                        },
                        "required": ["id", "displayName", "institution"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["suggestions"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOrcid": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOrcid",
        "summary": "Search for ORCID profiles by author name",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Search query for author name",
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max results (default 8)",
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orcid": {
                            "description": "ORCID iD (e.g., 0000-0001-2345-6789)",
                            "type": "string"
                          },
                          "givenNames": {
                            "description": "Given names",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "familyName": {
                            "description": "Family name",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "affiliation": {
                            "description": "Current affiliation",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          }
                        },
                        "required": ["orcid", "givenNames", "familyName", "affiliation"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["suggestions"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.discoverAuthorIds": {
      "get": {
        "operationId": "pub_chive_actor_discoverAuthorIds",
        "summary": "Discover potential external author IDs by name search",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Name to search (defaults to profile displayName)",
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max results (default 5)",
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "searchedName": { "description": "Name that was searched", "type": "string" },
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": { "description": "Author display name", "type": "string" },
                          "institution": {
                            "description": "Current institution hint",
                            "anyOf": [{ "type": "string" }, { "type": "null" }]
                          },
                          "worksCount": { "description": "Number of works", "type": "number" },
                          "citedByCount": { "description": "Citation count", "type": "number" },
                          "ids": {
                            "description": "External authority IDs",
                            "type": "object",
                            "properties": {
                              "openalex": {
                                "description": "OpenAlex author ID",
                                "anyOf": [{ "type": "string" }, { "type": "null" }]
                              },
                              "semanticScholar": {
                                "description": "Semantic Scholar author ID",
                                "anyOf": [{ "type": "string" }, { "type": "null" }]
                              },
                              "orcid": {
                                "description": "ORCID if linked",
                                "anyOf": [{ "type": "string" }, { "type": "null" }]
                              },
                              "dblp": {
                                "description": "DBLP author ID",
                                "anyOf": [{ "type": "string" }, { "type": "null" }]
                              }
                            },
                            "required": ["openalex", "semanticScholar", "orcid", "dblp"],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "displayName",
                          "institution",
                          "worksCount",
                          "citedByCount",
                          "ids"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["searchedName", "matches"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getDiscoverySettings": {
      "get": {
        "operationId": "pub_chive_actor_getDiscoverySettings",
        "summary": "Get the authenticated user's discovery settings",
        "tags": ["actor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enablePersonalization": { "type": "boolean" },
                    "enableForYouFeed": { "type": "boolean" },
                    "forYouSignals": {
                      "type": "object",
                      "properties": {
                        "fields": { "type": "boolean" },
                        "citations": { "type": "boolean" },
                        "collaborators": { "type": "boolean" },
                        "trending": { "type": "boolean" }
                      },
                      "additionalProperties": false
                    },
                    "relatedPapersSignals": {
                      "type": "object",
                      "properties": {
                        "citations": { "type": "boolean" },
                        "topics": { "type": "boolean" }
                      },
                      "additionalProperties": false
                    },
                    "citationNetworkDisplay": {
                      "type": "string",
                      "enum": ["hidden", "preview", "expanded"]
                    },
                    "showRecommendationReasons": { "type": "boolean" }
                  },
                  "required": [
                    "enablePersonalization",
                    "enableForYouFeed",
                    "forYouSignals",
                    "relatedPapersSignals",
                    "citationNetworkDisplay",
                    "showRecommendationReasons"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getMyProfile": {
      "get": {
        "operationId": "pub_chive_actor_getMyProfile",
        "summary": "Get the authenticated user's Chive profile",
        "tags": ["actor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "displayName": { "type": "string" },
                    "bio": { "type": "string" },
                    "orcid": { "type": "string" },
                    "affiliations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "rorId": { "type": "string" }
                        },
                        "required": ["name"],
                        "additionalProperties": false
                      }
                    },
                    "fields": { "type": "array", "items": { "type": "string" } },
                    "nameVariants": { "type": "array", "items": { "type": "string" } },
                    "previousAffiliations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "rorId": { "type": "string" }
                        },
                        "required": ["name"],
                        "additionalProperties": false
                      }
                    },
                    "researchKeywords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": { "type": "string" },
                          "fastId": { "type": "string" },
                          "wikidataId": { "type": "string" }
                        },
                        "required": ["label"],
                        "additionalProperties": false
                      }
                    },
                    "semanticScholarId": { "type": "string" },
                    "openAlexId": { "type": "string" },
                    "googleScholarId": { "type": "string" },
                    "arxivAuthorId": { "type": "string" },
                    "openReviewId": { "type": "string" },
                    "dblpId": { "type": "string" },
                    "scopusAuthorId": { "type": "string" }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.alpha.apply": {
      "post": {
        "operationId": "pub_chive_alpha_apply",
        "summary": "Submit an alpha tester application",
        "tags": ["alpha"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "Contact email for notifications",
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "sector": {
                    "description": "Organization type",
                    "type": "string",
                    "enum": [
                      "academia",
                      "industry",
                      "government",
                      "nonprofit",
                      "healthcare",
                      "independent",
                      "other"
                    ]
                  },
                  "sectorOther": {
                    "description": "Custom sector if \"other\" selected",
                    "type": "string",
                    "maxLength": 100
                  },
                  "careerStage": {
                    "description": "Career stage/position",
                    "type": "string",
                    "enum": [
                      "undergraduate",
                      "graduate-masters",
                      "graduate-phd",
                      "postdoc",
                      "research-staff",
                      "junior-faculty",
                      "senior-faculty",
                      "research-admin",
                      "librarian",
                      "science-communicator",
                      "policy-professional",
                      "retired",
                      "other"
                    ]
                  },
                  "careerStageOther": {
                    "description": "Custom career stage if \"other\" selected",
                    "type": "string",
                    "maxLength": 100
                  },
                  "affiliations": {
                    "description": "Institutional affiliations (optional)",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Institution name",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "rorId": { "description": "ROR ID URL", "type": "string", "format": "uri" }
                      },
                      "required": ["name"],
                      "additionalProperties": false
                    }
                  },
                  "researchKeywords": {
                    "description": "Research keywords",
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "description": "Keyword label",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "fastId": {
                          "description": "FAST authority ID",
                          "type": "string",
                          "maxLength": 20
                        },
                        "wikidataId": {
                          "description": "Wikidata ID",
                          "type": "string",
                          "maxLength": 20
                        }
                      },
                      "required": ["label"],
                      "additionalProperties": false
                    }
                  },
                  "motivation": {
                    "description": "Optional motivation statement",
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": ["email", "sector", "careerStage", "researchKeywords"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applicationId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["none", "pending", "approved", "rejected"]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": ["applicationId", "status", "createdAt"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.alpha.checkStatus": {
      "get": {
        "operationId": "pub_chive_alpha_checkStatus",
        "summary": "Check alpha tester application status",
        "tags": ["alpha"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["none", "pending", "approved", "rejected"]
                    },
                    "appliedAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "reviewedAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": ["status"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.author.getProfile": {
      "get": {
        "operationId": "pub_chive_author_getProfile",
        "summary": "Get author profile and metrics by DID",
        "tags": ["author"],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Author DID to retrieve profile for",
              "type": "string",
              "pattern": "^did:[a-z]+:[a-zA-Z0-9._:%-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "description": "Author profile information",
                      "type": "object",
                      "properties": {
                        "did": {
                          "description": "Decentralized Identifier",
                          "type": "string",
                          "pattern": "^did:[a-z]+:[a-zA-Z0-9._:%-]+$"
                        },
                        "handle": { "description": "Author handle", "type": "string" },
                        "displayName": { "description": "Display name", "type": "string" },
                        "avatar": {
                          "description": "Avatar URL",
                          "type": "string",
                          "format": "uri"
                        },
                        "bio": { "description": "Profile biography", "type": "string" },
                        "affiliation": {
                          "description": "Primary institutional affiliation",
                          "type": "string"
                        },
                        "affiliations": {
                          "description": "All institutional affiliations",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": { "description": "Organization name", "type": "string" },
                              "rorId": {
                                "description": "ROR ID (e.g., https://ror.org/02mhbdp94)",
                                "type": "string"
                              }
                            },
                            "required": ["name"],
                            "additionalProperties": false
                          }
                        },
                        "orcid": {
                          "description": "ORCID identifier",
                          "type": "string",
                          "pattern": "^\\d{4}-\\d{4}-\\d{4}-\\d{3}[\\dX]$"
                        },
                        "website": {
                          "description": "Personal website URL",
                          "type": "string",
                          "format": "uri"
                        },
                        "pdsEndpoint": {
                          "description": "User PDS endpoint",
                          "type": "string",
                          "format": "uri"
                        },
                        "fields": {
                          "description": "Research field IDs",
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "nameVariants": {
                          "description": "Alternative name forms (maiden name, transliterations, initials)",
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "previousAffiliations": {
                          "description": "Previous institutional affiliations",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": { "description": "Organization name", "type": "string" },
                              "rorId": {
                                "description": "ROR ID (e.g., https://ror.org/02mhbdp94)",
                                "type": "string"
                              }
                            },
                            "required": ["name"],
                            "additionalProperties": false
                          }
                        },
                        "researchKeywords": {
                          "description": "Research keywords for content matching",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": { "description": "Keyword label", "type": "string" },
                              "fastId": {
                                "description": "FAST subject heading ID",
                                "type": "string"
                              },
                              "wikidataId": {
                                "description": "Wikidata entity ID (e.g., Q12345)",
                                "type": "string"
                              }
                            },
                            "required": ["label"],
                            "additionalProperties": false
                          }
                        },
                        "semanticScholarId": {
                          "description": "Semantic Scholar author ID",
                          "type": "string"
                        },
                        "openAlexId": { "description": "OpenAlex author ID", "type": "string" },
                        "googleScholarId": {
                          "description": "Google Scholar profile ID",
                          "type": "string"
                        },
                        "arxivAuthorId": { "description": "arXiv author ID", "type": "string" },
                        "openReviewId": {
                          "description": "OpenReview profile ID",
                          "type": "string"
                        },
                        "dblpId": { "description": "DBLP author ID", "type": "string" },
                        "scopusAuthorId": { "description": "Scopus author ID", "type": "string" }
                      },
                      "required": ["did", "pdsEndpoint"],
                      "additionalProperties": false
                    },
                    "metrics": {
                      "description": "Author metrics across all eprints",
                      "type": "object",
                      "properties": {
                        "totalEprints": {
                          "description": "Total eprints authored",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalViews": {
                          "description": "Total views across all eprints",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalDownloads": {
                          "description": "Total downloads across all eprints",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalEndorsements": {
                          "description": "Total endorsements received",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "totalReviews": {
                          "description": "Total reviews written",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "hIndex": {
                          "description": "h-index if citation data available",
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "totalEprints",
                        "totalViews",
                        "totalDownloads",
                        "totalEndorsements"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["profile", "metrics"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.list": {
      "get": {
        "operationId": "pub_chive_backlink_list",
        "summary": "List backlinks to an eprint",
        "tags": ["backlink"],
        "parameters": [
          { "name": "targetUri", "in": "query", "required": true, "schema": { "type": "string" } },
          {
            "name": "sourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "semble.collection",
                "leaflet.list",
                "whitewind.blog",
                "bluesky.post",
                "bluesky.embed",
                "other"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backlinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "sourceUri": { "type": "string" },
                          "sourceType": {
                            "type": "string",
                            "enum": [
                              "semble.collection",
                              "leaflet.list",
                              "whitewind.blog",
                              "bluesky.post",
                              "bluesky.embed",
                              "other"
                            ]
                          },
                          "targetUri": { "type": "string" },
                          "context": { "type": "string" },
                          "indexedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "deleted": { "type": "boolean" }
                        },
                        "required": [
                          "id",
                          "sourceUri",
                          "sourceType",
                          "targetUri",
                          "indexedAt",
                          "deleted"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursor": { "type": "string" },
                    "hasMore": { "type": "boolean" }
                  },
                  "required": ["backlinks", "hasMore"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.getCounts": {
      "get": {
        "operationId": "pub_chive_backlink_getCounts",
        "summary": "Get aggregated backlink counts for an eprint",
        "tags": ["backlink"],
        "parameters": [
          { "name": "targetUri", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sembleCollections": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "leafletLists": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "whitewindBlogs": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "blueskyPosts": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "blueskyEmbeds": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "other": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "total": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    }
                  },
                  "required": [
                    "sembleCollections",
                    "leafletLists",
                    "whitewindBlogs",
                    "blueskyPosts",
                    "blueskyEmbeds",
                    "other",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.create": {
      "post": {
        "operationId": "pub_chive_backlink_create",
        "summary": "Create a backlink record (internal/plugin use)",
        "tags": ["backlink"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceUri": { "type": "string" },
                  "sourceType": {
                    "type": "string",
                    "enum": [
                      "semble.collection",
                      "leaflet.list",
                      "whitewind.blog",
                      "bluesky.post",
                      "bluesky.embed",
                      "other"
                    ]
                  },
                  "targetUri": { "type": "string" },
                  "context": { "type": "string", "maxLength": 500 }
                },
                "required": ["sourceUri", "sourceType", "targetUri"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "sourceUri": { "type": "string" },
                    "sourceType": {
                      "type": "string",
                      "enum": [
                        "semble.collection",
                        "leaflet.list",
                        "whitewind.blog",
                        "bluesky.post",
                        "bluesky.embed",
                        "other"
                      ]
                    },
                    "targetUri": { "type": "string" },
                    "context": { "type": "string" },
                    "indexedAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "deleted": { "type": "boolean" }
                  },
                  "required": [
                    "id",
                    "sourceUri",
                    "sourceType",
                    "targetUri",
                    "indexedAt",
                    "deleted"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.delete": {
      "post": {
        "operationId": "pub_chive_backlink_delete",
        "summary": "Delete a backlink record (internal/plugin use)",
        "tags": ["backlink"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "sourceUri": { "type": "string" } },
                "required": ["sourceUri"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.startClaim": {
      "post": {
        "operationId": "pub_chive_claiming_startClaim",
        "summary": "Start a claim request for an imported eprint",
        "tags": ["claiming"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "importId": {
                    "description": "ID of the imported eprint to claim",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                },
                "required": ["importId"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "importId": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "claimantDid": { "type": "string" },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "approved", "rejected", "expired"]
                        },
                        "canonicalUri": { "type": "string" },
                        "rejectionReason": { "type": "string" },
                        "reviewedBy": { "type": "string" },
                        "reviewedAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        }
                      },
                      "required": ["id", "importId", "claimantDid", "status", "createdAt"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["claim"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.completeClaim": {
      "post": {
        "operationId": "pub_chive_claiming_completeClaim",
        "summary": "Complete a claim after user creates canonical record",
        "tags": ["claiming"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "description": "ID of the claim request",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "canonicalUri": {
                    "description": "AT-URI of the canonical record in user PDS",
                    "type": "string"
                  }
                },
                "required": ["claimId", "canonicalUri"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.approveClaim": {
      "post": {
        "operationId": "pub_chive_claiming_approveClaim",
        "summary": "Approve a pending claim (admin only)",
        "tags": ["claiming"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "description": "ID of the claim request",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  }
                },
                "required": ["claimId"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.rejectClaim": {
      "post": {
        "operationId": "pub_chive_claiming_rejectClaim",
        "summary": "Reject a pending claim with reason (admin only)",
        "tags": ["claiming"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "description": "ID of the claim request",
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "reason": {
                    "description": "Rejection reason",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  }
                },
                "required": ["claimId", "reason"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getClaim": {
      "get": {
        "operationId": "pub_chive_claiming_getClaim",
        "summary": "Get a claim request by ID",
        "tags": ["claiming"],
        "parameters": [
          {
            "name": "claimId",
            "in": "query",
            "required": true,
            "schema": {
              "description": "ID of the claim request",
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "importId": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "claimantDid": { "type": "string" },
                            "status": {
                              "type": "string",
                              "enum": ["pending", "approved", "rejected", "expired"]
                            },
                            "canonicalUri": { "type": "string" },
                            "rejectionReason": { "type": "string" },
                            "reviewedBy": { "type": "string" },
                            "reviewedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            }
                          },
                          "required": ["id", "importId", "claimantDid", "status", "createdAt"],
                          "additionalProperties": false
                        },
                        { "type": "null" }
                      ]
                    }
                  },
                  "required": ["claim"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getUserClaims": {
      "get": {
        "operationId": "pub_chive_claiming_getUserClaims",
        "summary": "Get authenticated user's claims",
        "tags": ["claiming"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["pending", "approved", "rejected", "expired"] }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claims": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "importId": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "claimantDid": { "type": "string" },
                          "status": {
                            "type": "string",
                            "enum": ["pending", "approved", "rejected", "expired"]
                          },
                          "canonicalUri": { "type": "string" },
                          "rejectionReason": { "type": "string" },
                          "reviewedBy": { "type": "string" },
                          "reviewedAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "paper": {
                            "type": "object",
                            "properties": {
                              "source": { "type": "string" },
                              "externalId": { "type": "string" },
                              "externalUrl": { "type": "string" },
                              "title": { "type": "string" },
                              "authors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": { "type": "string" },
                                    "orcid": { "type": "string" },
                                    "affiliation": { "type": "string" },
                                    "email": { "type": "string" }
                                  },
                                  "required": ["name"],
                                  "additionalProperties": false
                                }
                              },
                              "publicationDate": { "type": "string" },
                              "doi": { "type": "string" }
                            },
                            "required": ["source", "externalId", "externalUrl", "title", "authors"],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "importId",
                          "claimantDid",
                          "status",
                          "createdAt",
                          "paper"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursor": { "type": "string" },
                    "hasMore": { "type": "boolean" }
                  },
                  "required": ["claims", "hasMore"],
[...]
