{
  "openapi": "3.1.0",
  "info": {
    "title": "Chive API",
    "description": "AT Protocol AppView for scholarly eprints",
    "version": "0.1.0",
    "contact": {
      "name": "Chive",
      "url": "https://chive.pub",
      "email": "contact@chive.pub"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.chive.pub",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "activity",
      "description": "Activity logging and feed"
    },
    {
      "name": "actor",
      "description": "Actor profile operations"
    },
    {
      "name": "alpha",
      "description": "Alpha program operations"
    },
    {
      "name": "author",
      "description": "Author operations"
    },
    {
      "name": "backlink",
      "description": "Backlink operations"
    },
    {
      "name": "claiming",
      "description": "Eprint claiming operations"
    },
    {
      "name": "discovery",
      "description": "Discovery and enrichment"
    },
    {
      "name": "endorsement",
      "description": "Endorsement operations"
    },
    {
      "name": "eprint",
      "description": "Eprint operations"
    },
    {
      "name": "governance",
      "description": "Governance operations"
    },
    {
      "name": "graph",
      "description": "Knowledge graph operations"
    },
    {
      "name": "import",
      "description": "Import operations"
    },
    {
      "name": "metrics",
      "description": "Metrics and trending"
    },
    {
      "name": "notification",
      "description": "Notification operations"
    },
    {
      "name": "review",
      "description": "Review operations"
    },
    {
      "name": "sync",
      "description": "Sync and indexing operations"
    },
    {
      "name": "tag",
      "description": "Tag operations"
    },
    {
      "name": "eprints",
      "description": "REST eprint endpoints"
    },
    {
      "name": "health",
      "description": "Health check endpoints"
    }
  ],
  "paths": {
    "/xrpc/pub.chive.activity.log": {
      "get": {
        "operationId": "pub_chive_activity_log",
        "summary": "pub.chive.activity.log",
        "description": "Log a user-initiated write action before performing PDS write. The activity is stored with status='pending' until the firehose event is received and correlated.",
        "tags": ["activity"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["activityId"],
                  "properties": {
                    "activityId": {
                      "type": "string",
                      "description": "Created activity ID (UUID)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.markFailed": {
      "get": {
        "operationId": "pub_chive_activity_markFailed",
        "summary": "pub.chive.activity.markFailed",
        "description": "Mark a pending activity as failed when PDS write fails",
        "tags": ["activity"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the activity was successfully marked as failed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "NotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getFeed": {
      "get": {
        "operationId": "pub_chive_activity_getFeed",
        "summary": "pub.chive.activity.getFeed",
        "description": "Get the authenticated user's activity feed with pagination",
        "tags": ["activity"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by activity category",
            "schema": {
              "type": "string",
              "description": "Filter by activity category",
              "enum": [
                "eprint_submit",
                "eprint_update",
                "eprint_delete",
                "review_create",
                "review_update",
                "review_delete",
                "endorsement_create",
                "endorsement_delete",
                "tag_create",
                "tag_delete",
                "profile_update",
                "proposal_create",
                "vote_create"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by activity status",
            "schema": {
              "type": "string",
              "description": "Filter by activity status",
              "enum": ["pending", "confirmed", "failed", "timeout"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["activities", "hasMore"],
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.activity.getFeed.activityView"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getCorrelationMetrics": {
      "get": {
        "operationId": "pub_chive_activity_getCorrelationMetrics",
        "summary": "pub.chive.activity.getCorrelationMetrics",
        "description": "Get activity correlation metrics showing confirmation rates, latencies, and error counts by category (admin only)",
        "tags": ["activity"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["metrics", "pendingCount"],
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.activity.getCorrelationMetrics.metricsEntry"
                      }
                    },
                    "pendingCount": {
                      "type": "integer",
                      "description": "Current count of pending activities"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AuthorizationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteAffiliation": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteAffiliation",
        "summary": "pub.chive.actor.autocompleteAffiliation",
        "description": "Autocomplete institutional affiliations using the Research Organization Registry (ROR) API",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for institution name",
            "schema": {
              "type": "string",
              "description": "Search query for institution name",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteAffiliation.affiliationSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteKeyword": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteKeyword",
        "summary": "pub.chive.actor.autocompleteKeyword",
        "description": "Autocomplete research keywords using FAST subject headings and Wikidata entities",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for keyword",
            "schema": {
              "type": "string",
              "description": "Search query for keyword",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Data sources to query (defaults to both)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["fast", "wikidata"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteKeyword.keywordSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOpenReview": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOpenReview",
        "summary": "pub.chive.actor.autocompleteOpenReview",
        "description": "Autocomplete OpenReview profiles (proxied since OpenReview API does not support CORS)",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for researcher name",
            "schema": {
              "type": "string",
              "description": "Search query for researcher name",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteOpenReview.openReviewSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOrcid": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOrcid",
        "summary": "pub.chive.actor.autocompleteOrcid",
        "description": "Autocomplete ORCID profiles for author verification",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for researcher name or ORCID",
            "schema": {
              "type": "string",
              "description": "Search query for researcher name or ORCID",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteOrcid.orcidSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.discoverAuthorIds": {
      "get": {
        "operationId": "pub_chive_actor_discoverAuthorIds",
        "summary": "pub.chive.actor.discoverAuthorIds",
        "description": "Discover external author IDs (OpenAlex, Semantic Scholar, etc.) by searching for a name across academic databases",
        "tags": ["actor"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Author name to search for",
            "schema": {
              "type": "string",
              "description": "Author name to search for",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of matches to return",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["searchedName", "matches"],
                  "properties": {
                    "searchedName": {
                      "type": "string",
                      "description": "The name that was searched"
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.discoverAuthorIds.authorMatch"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getDiscoverySettings": {
      "get": {
        "operationId": "pub_chive_actor_getDiscoverySettings",
        "summary": "pub.chive.actor.getDiscoverySettings",
        "description": "Get the authenticated user's discovery settings from their PDS",
        "tags": ["actor"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enablePersonalization",
                    "enableForYouFeed",
                    "forYouSignals",
                    "relatedPapersSignals",
                    "citationNetworkDisplay",
                    "showRecommendationReasons"
                  ],
                  "properties": {
                    "enablePersonalization": {
                      "type": "boolean",
                      "description": "Enable personalized recommendations based on profile"
                    },
                    "enableForYouFeed": {
                      "type": "boolean",
                      "description": "Show the For You personalized feed"
                    },
                    "forYouSignals": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.forYouSignals"
                    },
                    "relatedPapersSignals": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.relatedPapersSignals"
                    },
                    "citationNetworkDisplay": {
                      "type": "string",
                      "description": "How to display citation network",
                      "enum": ["hidden", "preview", "expanded"]
                    },
                    "showRecommendationReasons": {
                      "type": "boolean",
                      "description": "Show explanations for why papers are recommended"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "PDSNotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getMyProfile": {
      "get": {
        "operationId": "pub_chive_actor_getMyProfile",
        "summary": "pub.chive.actor.getMyProfile",
        "description": "Get the authenticated user's Chive profile from their PDS",
        "tags": ["actor"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "Display name"
                    },
                    "bio": {
                      "type": "string",
                      "description": "Biography text"
                    },
                    "orcid": {
                      "type": "string",
                      "description": "ORCID identifier"
                    },
                    "affiliations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.getMyProfile.affiliation"
                      }
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "nameVariants": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "previousAffiliations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.getMyProfile.affiliation"
                      }
                    },
                    "researchKeywords": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.getMyProfile.researchKeyword"
                      }
                    },
                    "semanticScholarId": {
                      "type": "string",
                      "description": "Semantic Scholar author ID"
                    },
                    "openAlexId": {
                      "type": "string",
                      "description": "OpenAlex author ID"
                    },
                    "googleScholarId": {
                      "type": "string",
                      "description": "Google Scholar profile ID"
                    },
                    "arxivAuthorId": {
                      "type": "string",
                      "description": "arXiv author identifier"
                    },
                    "openReviewId": {
                      "type": "string",
                      "description": "OpenReview profile ID"
                    },
                    "dblpId": {
                      "type": "string",
                      "description": "DBLP author identifier"
                    },
                    "scopusAuthorId": {
                      "type": "string",
                      "description": "Scopus author ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "PDSNotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.alpha.apply": {
      "post": {
        "operationId": "pub_chive_alpha_apply",
        "summary": "pub.chive.alpha.apply",
        "description": "Submit an alpha tester application. Requires authentication.",
        "tags": ["alpha"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "sector", "careerStage", "researchKeywords"],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Contact email for notifications"
                  },
                  "sector": {
                    "type": "string",
                    "description": "Organization type",
                    "enum": [
                      "academia",
                      "industry",
                      "government",
                      "nonprofit",
                      "healthcare",
                      "independent",
                      "other"
                    ]
                  },
                  "sectorOther": {
                    "type": "string",
                    "description": "Custom sector if 'other' selected",
                    "maxLength": 100
                  },
                  "careerStage": {
                    "type": "string",
                    "description": "Career stage/position",
                    "enum": [
                      "undergraduate",
                      "graduate-masters",
                      "graduate-phd",
                      "postdoc",
                      "research-staff",
                      "junior-faculty",
                      "senior-faculty",
                      "research-admin",
                      "librarian",
                      "science-communicator",
                      "policy-professional",
                      "retired",
                      "other"
                    ]
                  },
                  "careerStageOther": {
                    "type": "string",
                    "description": "Custom career stage if 'other' selected",
                    "maxLength": 100
                  },
                  "affiliations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/pub.chive.alpha.apply.affiliation"
                    },
                    "maxItems": 10
                  },
                  "researchKeywords": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/pub.chive.alpha.apply.researchKeyword"
                    },
                    "maxItems": 10
                  },
                  "motivation": {
                    "type": "string",
                    "description": "Optional motivation statement",
                    "maxLength": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["applicationId", "status", "createdAt"],
                  "properties": {
                    "applicationId": {
                      "type": "string",
                      "description": "UUID of the created application"
                    },
                    "status": {
                      "type": "string",
                      "description": "Application status",
                      "enum": ["none", "pending", "approved", "rejected"]
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Application creation timestamp",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "InvalidEmail",
                        "InvalidRequest"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.alpha.checkStatus": {
      "get": {
        "operationId": "pub_chive_alpha_checkStatus",
        "summary": "pub.chive.alpha.checkStatus",
        "description": "Check the authenticated user's alpha tester application status. Requires authentication.",
        "tags": ["alpha"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Application status",
                      "enum": ["none", "pending", "approved", "rejected"]
                    },
                    "appliedAt": {
                      "type": "string",
                      "description": "Application submission timestamp",
                      "format": "date-time"
                    },
                    "reviewedAt": {
                      "type": "string",
                      "description": "Application review timestamp",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.author.getProfile": {
      "get": {
        "operationId": "pub_chive_author_getProfile",
        "summary": "pub.chive.author.getProfile",
        "description": "Get author profile and metrics by DID",
        "tags": ["author"],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "Author DID",
            "schema": {
              "type": "string",
              "description": "Author DID",
              "format": "did"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["profile", "metrics"],
                  "properties": {
                    "profile": {
                      "$ref": "#/components/schemas/pub.chive.author.getProfile.authorProfile"
                    },
                    "metrics": {
                      "$ref": "#/components/schemas/pub.chive.author.getProfile.authorMetrics"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest", "NotFound"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.author.searchAuthors": {
      "get": {
        "operationId": "pub_chive_author_searchAuthors",
        "summary": "pub.chive.author.searchAuthors",
        "description": "Search for authors by name or other criteria",
        "tags": ["author"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string",
              "description": "Search query",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["authors"],
                  "properties": {
                    "authors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.author.searchAuthors.authorSearchResult"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Cursor for next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.list": {
      "get": {
        "operationId": "pub_chive_backlink_list",
        "summary": "pub.chive.backlink.list",
        "description": "List backlinks to an eprint from ATProto ecosystem sources including Semble collections, Leaflet lists, Whitewind blogs, and Bluesky shares",
        "tags": ["backlink"],
        "parameters": [
          {
            "name": "targetUri",
            "in": "query",
            "required": true,
            "description": "AT-URI of the target eprint",
            "schema": {
              "type": "string",
              "description": "AT-URI of the target eprint",
              "format": "at-uri"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "required": false,
            "description": "Filter by source type",
            "schema": {
              "type": "string",
              "description": "Filter by source type",
              "enum": [
                "semble.collection",
                "leaflet.list",
                "whitewind.blog",
                "bluesky.post",
                "bluesky.embed",
                "other"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of backlinks to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of backlinks to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["backlinks", "hasMore"],
                  "properties": {
                    "backlinks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.backlink.list.backlink"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest", "NotFound"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.getCounts": {
      "get": {
        "operationId": "pub_chive_backlink_getCounts",
        "summary": "pub.chive.backlink.getCounts",
        "description": "Get aggregated backlink counts for an eprint",
        "tags": ["backlink"],
        "parameters": [
          {
            "name": "targetUri",
            "in": "query",
            "required": true,
            "description": "AT-URI of the target eprint",
            "schema": {
              "type": "string",
              "description": "AT-URI of the target eprint",
              "format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sembleCollections",
                    "leafletLists",
                    "whitewindBlogs",
                    "blueskyPosts",
                    "blueskyEmbeds",
                    "other",
                    "total"
                  ],
                  "properties": {
                    "sembleCollections": {
                      "type": "integer",
                      "description": "Count of Semble collection backlinks"
                    },
                    "leafletLists": {
                      "type": "integer",
                      "description": "Count of Leaflet list backlinks"
                    },
                    "whitewindBlogs": {
                      "type": "integer",
                      "description": "Count of Whitewind blog backlinks"
                    },
                    "blueskyPosts": {
                      "type": "integer",
                      "description": "Count of Bluesky post backlinks"
                    },
                    "blueskyEmbeds": {
                      "type": "integer",
                      "description": "Count of Bluesky embed backlinks"
                    },
                    "other": {
                      "type": "integer",
                      "description": "Count of other backlinks"
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total count of all backlinks"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest", "NotFound"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.create": {
      "get": {
        "operationId": "pub_chive_backlink_create",
        "summary": "pub.chive.backlink.create",
        "description": "Create a backlink record. Internal/plugin use only. Requires authentication.",
        "tags": ["backlink"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pub.chive.backlink.create.backlink"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.backlink.delete": {
      "get": {
        "operationId": "pub_chive_backlink_delete",
        "summary": "pub.chive.backlink.delete",
        "description": "Delete (mark as deleted) a backlink record. Internal/plugin use only. Requires authentication.",
        "tags": ["backlink"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the deletion was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "NotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.approveClaim": {
      "get": {
        "operationId": "pub_chive_claiming_approveClaim",
        "summary": "pub.chive.claiming.approveClaim",
        "description": "Approve a pending claim request. Admin only.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "query",
            "required": true,
            "description": "ID of the claim request to approve",
            "schema": {
              "type": "integer",
              "description": "ID of the claim request to approve",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the approval was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "Forbidden",
                        "ClaimNotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.approveCoauthor": {
      "get": {
        "operationId": "pub_chive_claiming_approveCoauthor",
        "summary": "pub.chive.claiming.approveCoauthor",
        "description": "Approve a pending co-author request. Only the eprint owner can approve.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "ID of the co-author request to approve",
            "schema": {
              "type": "integer",
              "description": "ID of the co-author request to approve",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the approval was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "Forbidden",
                        "RequestNotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.autocomplete": {
      "get": {
        "operationId": "pub_chive_claiming_autocomplete",
        "summary": "pub.chive.claiming.autocomplete",
        "description": "Provides fast autocomplete suggestions for claiming search. Optimized for low latency with short timeouts.",
        "tags": ["claiming"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query prefix",
            "schema": {
              "type": "string",
              "description": "Search query prefix",
              "minLength": 2
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 10,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.autocomplete.suggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["InvalidRequest"]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.completeClaim": {
      "get": {
        "operationId": "pub_chive_claiming_completeClaim",
        "summary": "pub.chive.claiming.completeClaim",
        "description": "Complete a claim after the user creates their canonical record in their PDS. Requires authentication and claimant ownership.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "query",
            "required": true,
            "description": "ID of the claim request to complete",
            "schema": {
              "type": "integer",
              "description": "ID of the claim request to complete",
              "minimum": 1
            }
          },
          {
            "name": "canonicalUri",
            "in": "query",
            "required": true,
            "description": "AT-URI of the canonical record created in user's PDS",
            "schema": {
              "type": "string",
              "description": "AT-URI of the canonical record created in user's PDS",
              "format": "at-uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the claim was successfully completed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "ClaimNotFound",
                        "Unauthorized"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.findClaimable": {
      "get": {
        "operationId": "pub_chive_claiming_findClaimable",
        "summary": "pub.chive.claiming.findClaimable",
        "description": "Find claimable eprints matching the user's identity or search criteria. Requires authentication.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query (title, author name, DOI)",
            "schema": {
              "type": "string",
              "description": "Search query (title, author name, DOI)"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter by external source",
            "schema": {
              "type": "string",
              "description": "Filter by external source",
              "enum": [
                "arxiv",
                "biorxiv",
                "medrxiv",
                "osf",
                "lingbuzz",
                "zenodo",
                "ssrn",
                "philpapers"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for next page",
            "schema": {
              "type": "string",
              "description": "Pagination cursor for next page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["eprints", "hasMore"],
                  "properties": {
                    "eprints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.findClaimable.claimableEprint"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Cursor for next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getClaim": {
      "get": {
        "operationId": "pub_chive_claiming_getClaim",
        "summary": "pub.chive.claiming.getClaim",
        "description": "Get a claim request by ID. Users can only view their own claims unless they are admins.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "query",
            "required": true,
            "description": "ID of the claim request",
            "schema": {
              "type": "integer",
              "description": "ID of the claim request",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": {
                      "$ref": "#/components/schemas/pub.chive.claiming.getClaim.claimRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getCoauthorRequests": {
      "get": {
        "operationId": "pub_chive_claiming_getCoauthorRequests",
        "summary": "pub.chive.claiming.getCoauthorRequests",
        "description": "Get pending co-author requests for the authenticated user's eprints. Returns requests where the user is the eprint owner.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for next page",
            "schema": {
              "type": "string",
              "description": "Pagination cursor for next page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["requests"],
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getCoauthorRequests.coauthorRequest"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Cursor for next page of results"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getMyCoauthorRequests": {
      "get": {
        "operationId": "pub_chive_claiming_getMyCoauthorRequests",
        "summary": "pub.chive.claiming.getMyCoauthorRequests",
        "description": "Get co-author requests made by the authenticated user. Returns requests where the user is the claimant.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by request status",
            "schema": {
              "type": "string",
              "description": "Filter by request status",
              "enum": ["pending", "approved", "rejected"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for next page",
            "schema": {
              "type": "string",
              "description": "Pagination cursor for next page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["requests"],
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getMyCoauthorRequests.coauthorRequest"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Cursor for next page of results"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getPendingClaims": {
      "get": {
        "operationId": "pub_chive_claiming_getPendingClaims",
        "summary": "pub.chive.claiming.getPendingClaims",
        "description": "Get pending claims for admin review. Admin only.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "minScore",
            "in": "query",
            "required": false,
            "description": "Minimum match score filter (0-100)",
            "schema": {
              "type": "integer",
              "description": "Minimum match score filter (0-100)",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "maxScore",
            "in": "query",
            "required": false,
            "description": "Maximum match score filter (0-100)",
            "schema": {
              "type": "integer",
              "description": "Maximum match score filter (0-100)",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of claims to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of claims to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["claims", "hasMore"],
                  "properties": {
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getPendingClaims.claimRequest"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "Forbidden"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getSubmissionData": {
      "get": {
        "operationId": "pub_chive_claiming_getSubmissionData",
        "summary": "pub.chive.claiming.getSubmissionData",
        "description": "Get prefilled form data for claiming a paper from an external source",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "External source (e.g., arxiv, semanticscholar)",
            "schema": {
              "type": "string",
              "description": "External source (e.g., arxiv, semanticscholar)",
              "minLength": 2,
              "maxLength": 50
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "description": "Source-specific identifier",
            "schema": {
              "type": "string",
              "description": "Source-specific identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "title",
                    "abstract",
                    "authors",
                    "keywords",
                    "source",
                    "externalId",
                    "externalUrl"
                  ],
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "Prefilled title"
                    },
                    "abstract": {
                      "type": "string",
                      "description": "Prefilled abstract"
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getSubmissionData.submissionAuthor"
                      }
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "doi": {
                      "type": "string",
                      "description": "DOI if available"
                    },
                    "pdfUrl": {
                      "type": "string",
                      "description": "PDF URL if available",
                      "format": "uri"
                    },
                    "source": {
                      "type": "string",
                      "description": "Source system"
                    },
                    "externalId": {
                      "type": "string",
                      "description": "Source-specific external ID"
                    },
                    "externalUrl": {
                      "type": "string",
                      "description": "External URL to the paper",
                      "format": "uri"
                    },
                    "publicationDate": {
                      "type": "string",
                      "description": "Publication date",
                      "format": "date-time"
                    },
                    "externalIds": {
                      "$ref": "#/components/schemas/pub.chive.claiming.getSubmissionData.externalIds"
                    },
                    "existingChivePaper": {
                      "$ref": "#/components/schemas/pub.chive.claiming.getSubmissionData.existingChivePaper"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "NotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getSuggestions": {
      "get": {
        "operationId": "pub_chive_claiming_getSuggestions",
        "summary": "pub.chive.claiming.getSuggestions",
        "description": "Get suggested papers for the authenticated user to claim based on their profile",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["papers", "profileUsed"],
                  "properties": {
                    "papers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getSuggestions.suggestedPaper"
                      }
                    },
                    "profileUsed": {
                      "$ref": "#/components/schemas/pub.chive.claiming.getSuggestions.profileMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.getUserClaims": {
      "get": {
        "operationId": "pub_chive_claiming_getUserClaims",
        "summary": "pub.chive.claiming.getUserClaims",
        "description": "Get claims for the authenticated user",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by claim status",
            "schema": {
              "type": "string",
              "description": "Filter by claim status",
              "enum": ["pending", "approved", "rejected", "expired"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of claims to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of claims to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string",
              "description": "Pagination cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["claims", "hasMore"],
                  "properties": {
                    "claims": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.claiming.getUserClaims.claimWithPaper"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.rejectClaim": {
      "get": {
        "operationId": "pub_chive_claiming_rejectClaim",
        "summary": "pub.chive.claiming.rejectClaim",
        "description": "Reject a pending claim with a reason. Admin only.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the rejection was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "Forbidden",
                        "NotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.rejectCoauthor": {
      "get": {
        "operationId": "pub_chive_claiming_rejectCoauthor",
        "summary": "pub.chive.claiming.rejectCoauthor",
        "description": "Reject a pending co-author request. Only the PDS owner can reject.",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the rejection was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "Forbidden",
                        "NotFound"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.claiming.requestCoauthorship": {
      "get": {
        "operationId": "pub_chive_claiming_requestCoauthorship",
        "summary": "pub.chive.claiming.requestCoauthorship",
        "description": "Request co-authorship on an existing eprint in another user's PDS",
        "tags": ["claiming"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["request"],
                  "properties": {
                    "request": {
                      "$ref": "#/components/schemas/pub.chive.claiming.requestCoauthorship.coauthorRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "NotFound",
                        "InvalidRequest"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
[...]
