{
  "openapi": "3.1.0",
  "info": {
    "title": "Chive API",
    "description": "AT Protocol AppView for scholarly eprints",
    "version": "0.4.0",
    "contact": { "name": "Chive", "url": "https://chive.pub", "email": "admin@chive.pub" },
    "license": { "name": "MIT", "url": "https://opensource.org/licenses/MIT" }
  },
  "servers": [
    { "url": "https://api.chive.pub", "description": "Production" },
    { "url": "http://localhost:3000", "description": "Development" }
  ],
  "tags": [
    { "name": "activity", "description": "Activity logging and feed" },
    { "name": "actor", "description": "Actor profile operations" },
    { "name": "alpha", "description": "Alpha program operations" },
    { "name": "author", "description": "Author operations" },
    { "name": "backlink", "description": "Backlink operations" },
    { "name": "claiming", "description": "Eprint claiming operations" },
    { "name": "discovery", "description": "Discovery and enrichment" },
    { "name": "endorsement", "description": "Endorsement operations" },
    { "name": "eprint", "description": "Eprint operations" },
    { "name": "governance", "description": "Governance operations" },
    { "name": "graph", "description": "Knowledge graph operations" },
    { "name": "import", "description": "Import operations" },
    { "name": "metrics", "description": "Metrics and trending" },
    { "name": "notification", "description": "Notification operations" },
    { "name": "review", "description": "Review operations" },
    { "name": "sync", "description": "Sync and indexing operations" },
    { "name": "tag", "description": "Tag operations" },
    { "name": "eprints", "description": "REST eprint endpoints" },
    { "name": "health", "description": "Health check endpoints" }
  ],
  "paths": {
    "/xrpc/pub.chive.activity.log": {
      "get": {
        "operationId": "pub_chive_activity_log",
        "summary": "pub.chive.activity.log",
        "description": "Log a user-initiated write action before performing PDS write. The activity is stored with status='pending' until the firehose event is received and correlated.",
        "tags": ["activity"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["activityId"],
                  "properties": {
                    "activityId": { "type": "string", "description": "Created activity ID (UUID)" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.markFailed": {
      "get": {
        "operationId": "pub_chive_activity_markFailed",
        "summary": "pub.chive.activity.markFailed",
        "description": "Mark a pending activity as failed when PDS write fails",
        "tags": ["activity"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the activity was successfully marked as failed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "NotFound"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getFeed": {
      "get": {
        "operationId": "pub_chive_activity_getFeed",
        "summary": "pub.chive.activity.getFeed",
        "description": "Get the authenticated user's activity feed with pagination",
        "tags": ["activity"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by activity category",
            "schema": {
              "type": "string",
              "description": "Filter by activity category",
              "enum": [
                "eprint_submit",
                "eprint_update",
                "eprint_delete",
                "review_create",
                "review_update",
                "review_delete",
                "endorsement_create",
                "endorsement_delete",
                "tag_create",
                "tag_delete",
                "profile_update",
                "proposal_create",
                "vote_create"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by activity status",
            "schema": {
              "type": "string",
              "description": "Filter by activity status",
              "enum": ["pending", "confirmed", "failed", "timeout"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results to return",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": { "type": "string", "description": "Pagination cursor" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["activities", "hasMore"],
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.activity.getFeed.activityView"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for next page"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Whether more results are available"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.activity.getCorrelationMetrics": {
      "get": {
        "operationId": "pub_chive_activity_getCorrelationMetrics",
        "summary": "pub.chive.activity.getCorrelationMetrics",
        "description": "Get activity correlation metrics showing confirmation rates, latencies, and error counts by category (admin only)",
        "tags": ["activity"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["metrics", "pendingCount"],
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.activity.getCorrelationMetrics.metricsEntry"
                      }
                    },
                    "pendingCount": {
                      "type": "integer",
                      "description": "Current count of pending activities"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AuthorizationRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteAffiliation": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteAffiliation",
        "summary": "pub.chive.actor.autocompleteAffiliation",
        "description": "Autocomplete institutional affiliations using the Research Organization Registry (ROR) API",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for institution name",
            "schema": {
              "type": "string",
              "description": "Search query for institution name",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteAffiliation.affiliationSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": { "type": "string", "enum": ["InvalidRequest"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteKeyword": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteKeyword",
        "summary": "pub.chive.actor.autocompleteKeyword",
        "description": "Autocomplete research keywords using FAST subject headings and Wikidata entities",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for keyword",
            "schema": {
              "type": "string",
              "description": "Search query for keyword",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Data sources to query (defaults to both)",
            "schema": {
              "type": "array",
              "items": { "type": "string", "enum": ["fast", "wikidata"] }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteKeyword.keywordSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": { "type": "string", "enum": ["InvalidRequest"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOpenReview": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOpenReview",
        "summary": "pub.chive.actor.autocompleteOpenReview",
        "description": "Autocomplete OpenReview profiles (proxied since OpenReview API does not support CORS)",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for researcher name",
            "schema": {
              "type": "string",
              "description": "Search query for researcher name",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteOpenReview.openReviewSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": { "type": "string", "enum": ["InvalidRequest"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.autocompleteOrcid": {
      "get": {
        "operationId": "pub_chive_actor_autocompleteOrcid",
        "summary": "pub.chive.actor.autocompleteOrcid",
        "description": "Autocomplete ORCID profiles for author verification",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query for researcher name or ORCID",
            "schema": {
              "type": "string",
              "description": "Search query for researcher name or ORCID",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of suggestions to return",
              "minimum": 1,
              "maximum": 50,
              "default": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["suggestions"],
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.autocompleteOrcid.orcidSuggestion"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": { "type": "string", "enum": ["InvalidRequest"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.discoverAuthorIds": {
      "get": {
        "operationId": "pub_chive_actor_discoverAuthorIds",
        "summary": "pub.chive.actor.discoverAuthorIds",
        "description": "Discover external author IDs (OpenAlex, Semantic Scholar, etc.) by searching for a name across academic databases",
        "tags": ["actor"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Author name to search for",
            "schema": {
              "type": "string",
              "description": "Author name to search for",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of matches to return",
            "schema": {
              "type": "integer",
              "description": "Maximum number of matches to return",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["searchedName", "matches"],
                  "properties": {
                    "searchedName": {
                      "type": "string",
                      "description": "The name that was searched"
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.discoverAuthorIds.authorMatch"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getDiscoverySettings": {
      "get": {
        "operationId": "pub_chive_actor_getDiscoverySettings",
        "summary": "pub.chive.actor.getDiscoverySettings",
        "description": "Get the authenticated user's discovery settings from their PDS",
        "tags": ["actor"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enablePersonalization",
                    "relatedPapersSignals",
                    "citationNetworkDisplay",
                    "showRecommendationReasons"
                  ],
                  "properties": {
                    "enablePersonalization": {
                      "type": "boolean",
                      "description": "Enable personalized recommendations based on profile"
                    },
                    "relatedPapersSignals": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.relatedPapersSignals"
                    },
                    "relatedPapersWeights": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.relatedPapersWeights"
                    },
                    "relatedPapersThresholds": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.relatedPapersThresholds"
                    },
                    "trendingPreferences": {
                      "$ref": "#/components/schemas/pub.chive.actor.getDiscoverySettings.trendingPreferences"
                    },
                    "citationNetworkDisplay": {
                      "type": "string",
                      "description": "How to display citation network",
                      "enum": ["hidden", "preview", "expanded"]
                    },
                    "showRecommendationReasons": {
                      "type": "boolean",
                      "description": "Show explanations for why papers are recommended"
                    },
                    "recommendationDiversity": {
                      "type": "string",
                      "description": "How diverse recommendations should be relative to user's fields",
                      "enum": ["low", "medium", "high"]
                    },
                    "minimumEndorsementThreshold": {
                      "type": "integer",
                      "description": "Minimum number of endorsements for a paper to appear in recommendations"
                    },
                    "followedFieldUris": {
                      "type": "array",
                      "items": { "type": "string", "format": "at-uri" }
                    },
                    "followingTabIncludesWorkFields": {
                      "type": "boolean",
                      "description": "Whether the Following tab also includes the user's work fields"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "PDSNotFound"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getMyProfile": {
      "get": {
        "operationId": "pub_chive_actor_getMyProfile",
        "summary": "pub.chive.actor.getMyProfile",
        "description": "Get the authenticated user's Chive profile from their PDS",
        "tags": ["actor"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "displayName": { "type": "string", "description": "Display name" },
                    "bio": { "type": "string", "description": "Biography text" },
                    "orcid": { "type": "string", "description": "ORCID identifier" },
                    "affiliations": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/pub.chive.defs.affiliation" }
                    },
                    "fields": { "type": "array", "items": { "type": "string" } },
                    "nameVariants": { "type": "array", "items": { "type": "string" } },
                    "previousAffiliations": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/pub.chive.defs.affiliation" }
                    },
                    "researchKeywords": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.getMyProfile.researchKeyword"
                      }
                    },
                    "semanticScholarId": {
                      "type": "string",
                      "description": "Semantic Scholar author ID"
                    },
                    "openAlexId": { "type": "string", "description": "OpenAlex author ID" },
                    "googleScholarId": {
                      "type": "string",
                      "description": "Google Scholar profile ID"
                    },
                    "arxivAuthorId": { "type": "string", "description": "arXiv author identifier" },
                    "openReviewId": { "type": "string", "description": "OpenReview profile ID" },
                    "dblpId": { "type": "string", "description": "DBLP author identifier" },
                    "scopusAuthorId": { "type": "string", "description": "Scopus author ID" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "PDSNotFound"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getMyRoles": {
      "get": {
        "operationId": "pub_chive_actor_getMyRoles",
        "summary": "pub.chive.actor.getMyRoles",
        "description": "Get the authenticated user's roles and access flags",
        "tags": ["actor"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["roles", "isAdmin", "isAlphaTester", "isPremium"],
                  "properties": {
                    "roles": { "type": "array", "items": { "type": "string" } },
                    "isAdmin": {
                      "type": "boolean",
                      "description": "Whether the user has admin privileges"
                    },
                    "isAlphaTester": {
                      "type": "boolean",
                      "description": "Whether the user has alpha tester access"
                    },
                    "isPremium": {
                      "type": "boolean",
                      "description": "Whether the user has premium access"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.actor.getProfileConfig": {
      "get": {
        "operationId": "pub_chive_actor_getProfileConfig",
        "summary": "pub.chive.actor.getProfileConfig",
        "description": "Get profile configuration for a user",
        "tags": ["actor"],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "DID of the user",
            "schema": { "type": "string", "description": "DID of the user" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["did", "profileType", "sections"],
                  "properties": {
                    "did": { "type": "string", "description": "DID of the user" },
                    "uri": {
                      "type": "string",
                      "description": "AT-URI of the profile config record"
                    },
                    "profileType": { "type": "string", "description": "Profile type identifier" },
                    "sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.actor.getProfileConfig.profileSectionView"
                      }
                    },
                    "featuredCollectionUri": {
                      "type": "string",
                      "description": "AT-URI of the featured collection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": { "type": "string", "enum": ["InvalidRequest"] },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getOverview": {
      "get": {
        "operationId": "pub_chive_admin_getOverview",
        "summary": "pub.chive.admin.getOverview",
        "description": "Get aggregate counts from all index tables",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "eprints",
                    "authors",
                    "reviews",
                    "endorsements",
                    "collections",
                    "tags"
                  ],
                  "properties": {
                    "eprints": { "type": "integer", "description": "Total indexed eprints" },
                    "authors": { "type": "integer", "description": "Total indexed authors" },
                    "reviews": { "type": "integer", "description": "Total indexed reviews" },
                    "endorsements": {
                      "type": "integer",
                      "description": "Total indexed endorsements"
                    },
                    "collections": {
                      "type": "integer",
                      "description": "Total indexed collections"
                    },
                    "tags": { "type": "integer", "description": "Total indexed tags" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getSystemHealth": {
      "get": {
        "operationId": "pub_chive_admin_getSystemHealth",
        "summary": "pub.chive.admin.getSystemHealth",
        "description": "Get health status of all database connections",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["status", "databases", "uptime", "timestamp"],
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Overall system health status",
                      "enum": ["healthy", "degraded", "unhealthy"]
                    },
                    "databases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getSystemHealth.databaseHealth"
                      }
                    },
                    "uptime": { "type": "integer", "description": "Server uptime in seconds" },
                    "timestamp": {
                      "type": "string",
                      "description": "Timestamp of the health check",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getPrometheusMetrics": {
      "get": {
        "operationId": "pub_chive_admin_getPrometheusMetrics",
        "summary": "pub.chive.admin.getPrometheusMetrics",
        "description": "Get Prometheus metrics as JSON",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["metrics", "timestamp"],
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getPrometheusMetrics.prometheusMetric"
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "Timestamp of the metrics snapshot",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.listAlphaApplications": {
      "get": {
        "operationId": "pub_chive_admin_listAlphaApplications",
        "summary": "pub.chive.admin.listAlphaApplications",
        "description": "List alpha tester applications with optional status filter and pagination",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by application status",
            "schema": {
              "type": "string",
              "description": "Filter by application status",
              "enum": ["pending", "approved", "rejected", "revoked"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": { "type": "string", "description": "Pagination cursor" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["items", "total"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.listAlphaApplications.alphaApplication"
                      }
                    },
                    "total": { "type": "integer", "description": "Total matching applications" },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getAlphaApplication": {
      "get": {
        "operationId": "pub_chive_admin_getAlphaApplication",
        "summary": "pub.chive.admin.getAlphaApplication",
        "description": "Get a single alpha tester application by DID",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "Applicant DID",
            "schema": { "type": "string", "description": "Applicant DID", "format": "did" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pub.chive.admin.listAlphaApplications.alphaApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "NotFound"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.updateAlphaApplication": {
      "post": {
        "operationId": "pub_chive_admin_updateAlphaApplication",
        "summary": "pub.chive.admin.updateAlphaApplication",
        "description": "Approve, reject, or revoke an alpha tester application",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["did", "action"],
                "properties": {
                  "did": { "type": "string", "description": "Applicant DID", "format": "did" },
                  "action": {
                    "type": "string",
                    "description": "Action to take on the application",
                    "enum": ["approve", "reject", "revoke"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pub.chive.admin.listAlphaApplications.alphaApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "NotFound",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getAlphaStats": {
      "get": {
        "operationId": "pub_chive_admin_getAlphaStats",
        "summary": "pub.chive.admin.getAlphaStats",
        "description": "Get aggregate statistics for alpha tester applications",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["byStatus", "bySector", "byCareerStage", "recentByDay", "total"],
                  "properties": {
                    "byStatus": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getAlphaStats.countByKey"
                      }
                    },
                    "bySector": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getAlphaStats.countByKey"
                      }
                    },
                    "byCareerStage": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getAlphaStats.countByKey"
                      }
                    },
                    "recentByDay": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.getAlphaStats.dayCount"
                      }
                    },
                    "total": { "type": "integer", "description": "Total application count" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.searchUsers": {
      "get": {
        "operationId": "pub_chive_admin_searchUsers",
        "summary": "pub.chive.admin.searchUsers",
        "description": "Search users by handle or DID",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search term (handle or DID prefix)",
            "schema": { "type": "string", "description": "Search term (handle or DID prefix)" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["users"],
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.searchUsers.userDetail"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getUserDetail": {
      "get": {
        "operationId": "pub_chive_admin_getUserDetail",
        "summary": "pub.chive.admin.getUserDetail",
        "description": "Get detailed information about a specific user",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "User DID",
            "schema": { "type": "string", "description": "User DID", "format": "did" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/pub.chive.admin.searchUsers.userDetail" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "NotFound"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.assignRole": {
      "post": {
        "operationId": "pub_chive_admin_assignRole",
        "summary": "pub.chive.admin.assignRole",
        "description": "Assign a role to a user",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["did", "role"],
                "properties": {
                  "did": { "type": "string", "description": "Target user DID", "format": "did" },
                  "role": {
                    "type": "string",
                    "description": "Role to assign",
                    "enum": [
                      "admin",
                      "moderator",
                      "graph-editor",
                      "author",
                      "reader",
                      "alpha-tester",
                      "premium"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": { "type": "boolean", "description": "Whether the role was assigned" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.revokeRole": {
      "post": {
        "operationId": "pub_chive_admin_revokeRole",
        "summary": "pub.chive.admin.revokeRole",
        "description": "Revoke a role from a user",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["did", "role"],
                "properties": {
                  "did": { "type": "string", "description": "Target user DID", "format": "did" },
                  "role": {
                    "type": "string",
                    "description": "Role to revoke",
                    "enum": [
                      "admin",
                      "moderator",
                      "graph-editor",
                      "author",
                      "reader",
                      "alpha-tester",
                      "premium"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": { "type": "boolean", "description": "Whether the role was revoked" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.listEprints": {
      "get": {
        "operationId": "pub_chive_admin_listEprints",
        "summary": "pub.chive.admin.listEprints",
        "description": "List indexed eprints with pagination",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "description": "Number of results to skip",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["items", "total"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.listEprints.eprintSummary"
                      }
                    },
                    "total": { "type": "integer", "description": "Total matching eprints" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.listReviews": {
      "get": {
        "operationId": "pub_chive_admin_listReviews",
        "summary": "pub.chive.admin.listReviews",
        "description": "List indexed reviews with pagination",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": { "type": "string", "description": "Pagination cursor" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["total"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.listReviews.reviewSummary"
                      }
                    },
                    "total": { "type": "integer", "description": "Total reviews" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.listEndorsements": {
      "get": {
        "operationId": "pub_chive_admin_listEndorsements",
        "summary": "pub.chive.admin.listEndorsements",
        "description": "List indexed endorsements with pagination",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "description": "Maximum number of results",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": { "type": "string", "description": "Pagination cursor" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["total"],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.listEndorsements.endorsementSummary"
                      }
                    },
                    "total": { "type": "integer", "description": "Total endorsements" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.deleteContent": {
      "post": {
        "operationId": "pub_chive_admin_deleteContent",
        "summary": "pub.chive.admin.deleteContent",
        "description": "Soft-delete content from the index by URI and collection",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uri", "collection"],
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "AT-URI of the content to delete",
                    "format": "at-uri"
                  },
                  "collection": {
                    "type": "string",
                    "description": "Collection NSID",
                    "enum": [
                      "pub.chive.eprint.submission",
                      "pub.chive.review.comment",
                      "pub.chive.review.endorsement",
                      "pub.chive.eprint.userTag"
                    ]
                  },
                  "reason": { "type": "string", "description": "Reason for deletion" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the content was deleted"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.getFirehoseStatus": {
      "get": {
        "operationId": "pub_chive_admin_getFirehoseStatus",
        "summary": "pub.chive.admin.getFirehoseStatus",
        "description": "Get firehose cursor position and DLQ status",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["dlqCount", "timestamp"],
                  "properties": {
                    "cursor": {
                      "type": "string",
                      "description": "Current firehose cursor position"
                    },
                    "dlqCount": {
                      "type": "integer",
                      "description": "Number of entries in the dead-letter queue"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "Timestamp of the status check",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.listDLQEntries": {
      "get": {
        "operationId": "pub_chive_admin_listDLQEntries",
        "summary": "pub.chive.admin.listDLQEntries",
        "description": "List entries from the firehose dead-letter queue",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of entries",
            "schema": {
              "type": "integer",
              "description": "Maximum number of entries",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of entries to skip",
            "schema": {
              "type": "integer",
              "description": "Number of entries to skip",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["entries", "total"],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/pub.chive.admin.listDLQEntries.dlqEntry"
                      }
                    },
                    "total": { "type": "integer", "description": "Total entries in the DLQ" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.retryDLQEntry": {
      "post": {
        "operationId": "pub_chive_admin_retryDLQEntry",
        "summary": "pub.chive.admin.retryDLQEntry",
        "description": "Requeue a single DLQ entry for reprocessing",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["index"],
                "properties": {
                  "index": { "type": "integer", "description": "Index of the DLQ entry to retry" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the entry was requeued"
                    },
                    "message": { "type": "string", "description": "Status message" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.retryAllDLQ": {
      "post": {
        "operationId": "pub_chive_admin_retryAllDLQ",
        "summary": "pub.chive.admin.retryAllDLQ",
        "description": "Batch retry all DLQ entries, optionally filtered by error type",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "errorType": {
                    "type": "string",
                    "description": "Filter entries by error type before retrying"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["retriedCount"],
                  "properties": {
                    "retriedCount": {
                      "type": "integer",
                      "description": "Number of entries requeued"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.dismissDLQEntry": {
      "post": {
        "operationId": "pub_chive_admin_dismissDLQEntry",
        "summary": "pub.chive.admin.dismissDLQEntry",
        "description": "Remove a single DLQ entry without retrying",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["index"],
                "properties": {
                  "index": { "type": "integer", "description": "Index of the DLQ entry to dismiss" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the entry was dismissed"
                    },
                    "message": { "type": "string", "description": "Status message" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired",
                        "InvalidRequest"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.purgeOldDLQ": {
      "post": {
        "operationId": "pub_chive_admin_purgeOldDLQ",
        "summary": "pub.chive.admin.purgeOldDLQ",
        "description": "Purge DLQ entries older than a specified number of days",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "olderThanDays": {
                    "type": "integer",
                    "description": "Purge entries older than this many days",
                    "minimum": 1,
                    "default": 7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["purgedCount"],
                  "properties": {
                    "purgedCount": { "type": "integer", "description": "Number of entries purged" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.triggerPDSScan": {
      "post": {
        "operationId": "pub_chive_admin_triggerPDSScan",
        "summary": "pub.chive.admin.triggerPDSScan",
        "description": "Trigger a scan of known PDSes for new records",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pdsUrl": {
                    "type": "string",
                    "description": "Specific PDS URL to scan (all if omitted)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["operationId"],
                  "properties": {
                    "operationId": {
                      "type": "string",
                      "description": "ID of the started backfill operation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.triggerFreshnessScan": {
      "post": {
        "operationId": "pub_chive_admin_triggerFreshnessScan",
        "summary": "pub.chive.admin.triggerFreshnessScan",
        "description": "Trigger a freshness scan to detect stale indexed records",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": { "type": "string", "description": "Staleness tier to scan" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["operationId"],
                  "properties": {
                    "operationId": {
                      "type": "string",
                      "description": "ID of the started backfill operation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.triggerCitationExtraction": {
      "post": {
        "operationId": "pub_chive_admin_triggerCitationExtraction",
        "summary": "pub.chive.admin.triggerCitationExtraction",
        "description": "Trigger citation extraction for indexed eprints",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uri": {
                    "type": "string",
                    "description": "Specific eprint URI (all if omitted)",
                    "format": "at-uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["operationId"],
                  "properties": {
                    "operationId": {
                      "type": "string",
                      "description": "ID of the started backfill operation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.triggerFullReindex": {
      "post": {
        "operationId": "pub_chive_admin_triggerFullReindex",
        "summary": "pub.chive.admin.triggerFullReindex",
        "description": "Trigger a full Elasticsearch reindex of all indexed records",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batchSize": {
                    "type": "integer",
                    "description": "Number of records per batch",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["operationId"],
                  "properties": {
                    "operationId": {
                      "type": "string",
                      "description": "ID of the started backfill operation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } }
            }
          }
        }
      }
    },
    "/xrpc/pub.chive.admin.triggerGovernanceSync": {
      "post": {
        "operationId": "pub_chive_admin_triggerGovernanceSync",
        "summary": "pub.chive.admin.triggerGovernanceSync",
        "description": "Trigger a sync of governance records from the Governance PDS",
        "tags": ["admin"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["operationId"],
                  "properties": {
                    "operationId": {
                      "type": "string",
                      "description": "ID of the started backfill operation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error", "message"],
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "InvalidRequest",
                        "ExpiredToken",
                        "InvalidToken",
                        "AuthenticationRequired",
                        "AdminRequired"
                      ]
                    },
[...]
