apiVersion: v1
kind: Service
metadata:
  name: chive-appview
  namespace: chive
  labels:
    app.kubernetes.io/name: chive-appview
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: chive
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: chive-appview
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
